Introduction:

Our Metric: Talk about the "greenest" neighborhood/ more environmental etc.

Code to find this metric with narrative (long part)

In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import geopandas

## Trees Dataset Manipulation:

In [2]:
# This takes tree data from wprdc and shrinks colums
full_trees = pd.read_csv("https://data.wprdc.org/datastore/dump/1515a93c-73e3-4425-9b35-1cd11b2196da")
trees = full_trees[['common_name', 'height','condition','neighborhood','air_quality_benfits_total_dollar_value']].copy()
# This takes in neighborhood dataset from wprdc
acres = pd.read_csv("https://data.wprdc.org/datastore/dump/668d7238-cfd2-492e-b397-51a6e74182ff")
acres = acres [['hood', 'acres']] #This shrinks dataframe so we just have a neighborhood ('hood') --> acres correlation

# This shrinks the trees data set and then counts the occurances of each neighborhood to get trees per neighborhood
trees_per_neighborhood = full_trees [['neighborhood', 'id']] # neighborhood --> id correlation
trees_per_neighborhood = trees_per_neighborhood.rename({'id':'number_of_trees'}, axis = 1)
trees_per_neighborhood = trees_per_neighborhood.groupby('neighborhood').count()


#merges the acres data set with the trees_per_neighborhood for future caluculation
trees_per_acre_per_neighborhood = trees_per_neighborhood.merge(acres, how='inner', left_on='neighborhood',
                                                              right_on = 'hood')
trees_per_acre_per_neighborhood = trees_per_acre_per_neighborhood[['hood','number_of_trees','acres']]
trees_per_acre_per_neighborhood = trees_per_acre_per_neighborhood.rename({'hood':'neighborhood'}, axis=1)

#for some reason perry North (row 60) has 0 acres in the dataset so I manually found it on wikipedia
trees_per_acre_per_neighborhood.at[60, 'acres'] = 775.68  


# adds new colum wich divides num of trees by acres to get trees per acre (the final metric for this calculation)
trees_per_acre_per_neighborhood['trees_per_acre'] = trees_per_acre_per_neighborhood['number_of_trees'] / trees_per_acre_per_neighborhood['acres']
trees_per_acre_per_neighborhood = trees_per_acre_per_neighborhood.sort_values(by = 'trees_per_acre', ascending = False)


trees_per_acre_per_neighborhood.head(10)

/opt/tljh/user/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

          neighborhood  number_of_trees    acres  trees_per_acre
0     Allegheny Center              867  134.703        6.436382
33          Friendship              362   68.297        5.300379
1       Allegheny West              386   90.841        4.249183
18   Central Northside              674  166.475        4.048656
48          Manchester              707  179.566        3.937271
39       Highland Park             2941  747.691        3.933443
28        East Liberty             1366  373.650        3.655828
65       Regent Square              434  123.682        3.508999
23    Crawford-Roberts              568  166.101        3.419606
49  Marshall-Shadeland              488  148.209        3.292648

Dataset 2 Title

In [3]:
# Dataset 2 code

In [ ]:
Dataset 3 Title

In [5]:
# Dataset 3 code

# The *Green* metric

In [7]:
#code that will make one table with all metric and add them to create final metric
#find highest neighborhood with that metric and plot all neighborhoods

# Conclusion
## 1:
[...]
## 2:
[...]
## 3:
[...]

we each need to do a conclusion on how the neighborhood we calculated compares
to our person favorite neighborhood